
@media screen and (min-width: 960px){
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, p, blockqoute, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, s, samp,small, strike, strong, sub, 
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul,li,
fieldset, form, label, legend,table, caption, tbody,
tfoot, thead, th, td, tr,article, aside, canvas, details,
embed, figure figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark,
audio, video{
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
}

html{
height:100%;
} 

body{
height:100%;
font:14px/18px 'Times New Roman' Times sans-serif;
background-color:#FFF;
} 

ol, ul {list-style:none;}

*{
margin:0;
padding:0;
outline:none;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

a, a:hover{text-decoration:none;}

.clearfix:before,
.clearfix:after{
content: " ";
display:table;
}

.clearfix:after{
clear:both;
}

.left{float:left;}
.right{float:right;}
.text-right{text-align:right;}
.text-left{text-align:left;}


.container{
width:940px;
margin:0 auto;
}

.header{
position:relative;
top:20px;
width:1024px;
margin:0 auto;
}

.logo{
float:left;
}

.nav{
float:right;	
padding-top:5px;
}

.nav li{
float:left;
margin-right:40px;
}

.nav li:last-child {margin-right:0;}

.nav a {
text-transform:uppercase;
font: bold 14px Arial;
color:#fff;
}

.home{
height:700px;
padding-top:270px;
text-align:center;
color:#fff;
background: #222 url(../img/home-bg.jpg) no-repeat center bottom;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
}

.home h3{
font:40px/40px Arial, sans-serif;
margin-bottom:40px;
}

.home h1{
font:75px/75px Arial, sans-serif;
margin-bottom:50px;
}

.btn{
text-transform:uppercase;
width:275px;
height:65px;
padding:20px 30px;
display:inline-block;
font:24px Arial bold, sans-serif;
cursor:pointer;
background-color:#ffcc33;
color:#fff;

-webkit-border-radius:4px;
-moz-border-radius:4px;
-o-border-radius:4px;
border-radius:4px;
}
.box{
padding: 120px;
}

.services{
text-align:center;
}

h2.title{
margin-bottom:10px;
font: bold 40px/40px Arial, sans-serif;
text-transform:uppercase;
color:#222;
margin:bottom 10px;
}

h5.title{
font: bold 18px/18px Arial, sans-serif;
color:#222;
margin-bottom:10px;
}

.descr{
margin-bottom:10px;
font-size:16PX;
color:#777;
}

.services-wrap,
.portfolio-wrap,
.about-wrap,
.message
{
padding-top:70px;
}

.team, .about {
padding-top:240px;
}

.services-item{
padding:90px 10px;
float:left;
width:33.3%;
}

.services-item p{
line-height:24px;
font-size:18px;
color:#777;
}

.commerce{
background:url(../img/commerce.jpg) no-repeat top center;
}
.responsive{
background:url(../img/responsive.jpg) no-repeat top center;
}
.security{
background:url(../img/security.jpg) no-repeat top center;
}
.portfolio{
text-align:center;
}

.portfolio-item{
float:left;
width:31%;
margin-right:3%;
margin-bottom:50px;
background:#fff;
}

.portfolio-item:nth-child(3n) {
margin-right:0;
}

.portfolio-item:nth-last-child(1),
.portfolio-item:nth-last-child(2),
.portfolio-item:nth-last-child(3) 
{
margin-bottom:0;
}

.portfolio-item span{
color:#737373;
font-size:14px;
}

.p-item-footer {
padding:25px 20px;
}

.p-item-footer h5.title{
margin-bottom:4px;
}


.about, .team {text-align:center;}

.about-text{
width:35%;
}

.about-text h5{
line-height: 24px;
}

.about-text h5 span{
text-transform:uppercase
}

.about-text p{
font-size:16px;
line-height:24px;
color:#777;
}

.about-img{
width:30%;
}

.about-img:after {
content:' ';
display:block;
height:94px;
width:3px;
margin:0 auto;
background:#f1f1f1;
}

.about-img img, .about-link {
display:inline-block;
width:177px;
height:177px;
border:7px solid #f1f1f1;

-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
}

.about-link {
text-transform:uppercase;
padding-top:30px;
font:bold 18px/30px Arial, sans-serif;
background:#fed136;
color:#fff;
-webkit-text-shadow:0 1px rgba(0,0,0,0.3);
-moz-text-shadow:0 1px rgba(0,0,0,0.3);
-o-text-shadow:0 1px rgba(0,0,0,0.3);
	text-shadow:0 1px rgba(0,0,0,0.3);
}

.team-item{
	float:left;
	width:33%;
	padding:0 10px;
}

.team-item img{
margin-bottom:15px;
border:7px solid #fff;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-o-border-radius: 50%;
	border-radius: 50%;
}

.team-info{
margin-top:50px;
}

.cat{
font:14px/14px Arial, sans-serif;
color:#777;
}

.social {margin-top:10px;}

.social a {
display:inline-block;
width:40px;
height:40px;
margin:0 3px;
border:3px solid #222;
background:url(../img/social-sprite.png) no-repeat;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-o-border-radius: 50%;
	border-radius: 50%;
}


.social a.black {
background-color:#222;
}

.social a.ic-tw {
background-position:0 0;
}
.social a.ic-tw:hover {
background-color:#00aced;
border-color:#00aced;
background-position:0 -41px;
}

.social a.ic-tw.black {

background-position:0 -41px;
}


.social a.ic-fb {
background-position:-41px -5px ;
}

.social a.ic-fb:hover {
background-color:#3b5998;
border-color:#3b5998;
background-position:-42px -44px;
}

.social a.ic-fb.black {

background-position:-42px -44px;
}




.social a.ic-pn {
background-position:-82px -4px;
}
.social a.ic-pn:hover {
background-color:#cb2028;
border-color:#cb2028;
background-position:-82px -43px;
}

.social a.ic-pn.black {

background-position:-82px -43px;
}



.social a.ic-g {
background-position:-123px -4px;
}

.social a.ic-g:hover {
background-color:#cb2028;
border-color:#cb2028;
background-position: -123px -44px;
}

.social a.ic-g.black {

background-position: -123px -44px;
}

.brand{
padding-top:45px;
text-align:center;
}

.brand a{
display:inline-block;
margin-right:40px;
}

.brand a:last-child {margin-right:0;}
.brand img{vertical-align:middle;}

.contact{
	padding-top:110px;
	text-align:center;
	background:#222 url(../img/map.png)no-repeat right bottom;
}

.contact h2.title{
	color:#fff;
	text-align:center;
}

.contact .descr {
text-align:center;
}



.message .left{
width:48%;
}

.message .right{
width:48%;
}

.message input[type="text"],
.message textarea{
width:100%;
padding:15px 20px;
margin-bottom:30px;
font:bold 14px/14px Arial, sans-serif;
color:#222;
box-shadow:none;
background:#fff;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-o-border-radius:4px;
border-radius:4px;
}

.message input[type="text"] {
	height:50px
	border:1px solid #ccc;
}

.message textarea {
	border:none;
	resize:none;
	height:205px;
}

::-webkit-input-placeholder{
text-transform:uppercase;
font:bold 14px/14px Arial, sans-serif;
color:#bbb;
}

::-moz-placeholder{
text-transform:uppercase;
font:bold 14px/14px Arial, sans-serif;
color:#bbb;
}

.copyright {
padding: 27px 0;
}

.copyright p {
padding-top: 13px;
font: 14px/14px Arial, sans-serif;
color:#555;
}

.copyright .social {
margin-top: 0;
margin-left: 365px;
}

.message {
	padding-bottom:120px;
}
}